<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alvan.chatproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flat_1"
        android:label="@string/tmsg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activitis.MainActivity">

        </activity>
        <activity android:name=".view.activitis.LoginActivity" />
        <activity android:name=".view.activitis.RegisterActivity" />
        <activity android:name=".view.activitis.forgetActivity" />
        <activity android:name=".view.activitis.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activitis.ChangeActivity" />
        <activity android:name=".view.activitis.ChatActivity">

        </activity>
    </application>

</manifest>